/* Style the navigation bar */
.topnav {
      background-color: rgba("0000");
      overflow: hidden;
      height:0px;
    }

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.landing {
 background-color:#159957;
 background-image:linear-gradient(120deg, #155799, #159957)
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Styling of links inside list property */
.li a{text-decoration: none;}
